<%= @title %>
<ul id ="helpful_links">
  <li>
    <h2>Link 1</h2>
    <p>Blah Blah Blah</p>
    <h2>Link 2</h2>
    <p>Blah Blah Blah</p>
    <h2>Link 3</h2>
    <p>vbxcvbxcvbxcvbcvh</p>
  </li>
</ul>
<%= link_to 'Add New Link', new_link_path %>
