<form id="new_link_form">
  <input type ="text" name ="Link" placeholder ="Link">
  <input type ="text" name ="Title" placeholder ="Title">
  <input type ="text" name ="Description" placeholder ="Description">
  <button>Submit</button>
</form>
