<form id="new_link_form" action ="/links">
  <input type ="text" name ="Link" placeholder ="Link">
  <input type ="text" name ="Title" placeholder ="Title">
  <textarea name ="Description" placeholder ="Description"></textarea>
  <button>Submit</button>
</form>
