<div class="container">
  <h1>KaiAko</h1>
  <p>This is where the curriculum tree will reside</p>

</div>
<h1>Curriculum Tree</h1>




<% base_level_topics = Topic.where(parent_id: 0	) %>


<%=	populate_tree(base_level_topics).html_safe %>


<!-- 

	<div id="details_tree">
	<details>
		<summary>Show/Hide Details</summary>
			<p>The Details of all importance: 
				<details>
					<summary>Show/Hide Details</summary>
					<p>The Details of all importance</p>
				</details> 
			</p>
	</details> 

	</div>
 -->
