<div class="container">
  <h1>KaiAko</h1>
  <p>Welcome to the KaiAko learning management system.</p>

  <%= link_to 'Helpful Links', links_path %><br>
  <%= link_to 'Add new link', new_link_path %>

</div>
