<form class="objectives" action="<%= view_objectives_path %>">
  <label>Title</label>
  <input id="title_field" name="Title" type="text">
  <label>Description</label>
  <input id="description_field" name="Description" type="text">
  <input type="submit" value="submit">
</form>
