<head>
<script type="text/javascript">

function get_api(response)
{
 var data = response.data;
 console.log(data);

 $("#login").append(data.login);
 $("#name").append(data.name);
 $("#avatar").attr("src",data.avatar_url);
}

var script = document.createElement('script');
script.src = 'https://api.github.com/user?callback=get_api&access_token=<%= current_user.github_token %>';

document.getElementsByTagName('head')[0].appendChild(script);
</script>
</head>

<body>

  <h1>Dashboard</h1>
  <div id="login"> Username: </div>
  <div id="name"> Name: </div>
  <img id="avatar">


</body>

