<form method="post" action="/emo_state" id="emo-state">
  <label id="emo_state_happy">Happy</label>
  <input id="emo_state_happy" type="radio" value="happy"
    name="emo_state_emotion" class="emoticon">
  <label id="emo_state_neutral">Neutral</label>
  <input id="emo_state_neutral" type="radio" value="neutral"
    name="emo_state_emotion" class="emoticon">
  <label id="emo_state_sad">Sad</label>
  <input id="emo_state_sad" type="radio" value="sad"
    name="emo_state_emotion" class="emoticon">
  <input type="text" id="message" name="emo_state_comment" class="emo-text">
  <input type="submit" value="Submit" class="btn btn-info btn-sm">
</form>
