<form method="post" action="/emo_state" id="emo-state">
  <fieldset>
    Happy<input type="radio" value="happy" name="happy" class="emoticon">
    Neutral<input type="radio" value="neutral" name="neutral" class="emoticon">
    Sad<input type="radio" value="sad" name="sad" class="emoticon">
    <input type="text" id="message" name="message" class="emo-text">
    <input type="submit" value="Submit" class="btn btn-info btn-sm">
  </fieldset>
</form>
