<h1>Things to learn!!</h1>
<% @objective.each do |f| %>
  <li><%= f.title %></li>
  <li><%= f.description %></li>
<% end %>
<p>Success</p>
<%= link_to 'Add new objective', new_learning_objective_path %>

