<h1>Things to learn!!</h1>
  <ol>
    <% @objective.each do |f| %>
      <li>
        <h2><%= f.title %></h2>
        <p><%= f.description %></p>
        <%= button_to "delete", learning_objective_path(f), method: :delete %>
      </li>
    <% end %>
  </ol>

<%= link_to 'Add new objective', new_learning_objective_path %>


